body{
    background: #3dbfd9;
    flex-wrap: nowrap;
    font-family: "Lato",Helvetica,Arial,sans-serif;
}

.label_container_new_step6{
    padding: 2px 12px;
    display: block;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 0;
    position: relative;
    padding: 0px;
}

.btn_step6:hover, .btn_step6.active
{
    background: #40e0d0 !important;
    border-radius: 4px;
}

.vehicleiconnew_step6{
    background-image: url(https://www.bankbazaar.com/images/sprite/sprite-car-type-v1.png);
    width:150px;
    height: 134px;
    background-repeat: no-repeat;
    display: block;
    margin-left: 9px;
    padding-bottom: 4px;
    margin-top: -2px;
}

 .column_hun_step6{ 
    display: inline-block;
    text-align: center;
    margin-left: 230px;
    margin-top: 20;
    width: 160px;
    height: 185px;
    color: white;
    /* float: left; */
}

.column_maruti_step6{ 
    display: inline-block;
    text-align: center;
    margin-left: 20px;
    margin-top: 20;
    width: 160px;
    height: 185px;
    color: white;
    padding-right: 10px;
    /* float: right; */
}

.column_marucelerio_step6{ 
    display: inline-block;
    text-align: center;
    margin-left: 10px;
    margin-top: 20;
    width: 160px;
    height: 185px;
    color: white;
    /* float: right; */
}

.Honda_amaze_step6{ 
    display: inline-block;
    text-align: center;
    margin-left: 20px;
    margin-top: 20;
    width: 160px;
    height: 185px;
    color: white;
    /* float: right; */
}

.Hyundai_Grand_I10_step6{ 
    display: inline-block;
    text-align: center;
    margin-left: 20px;
    margin-top: 20;
    width: 160px;
    height: 185px;
    color: white;
    /* float: right; */
}

.Maruti_Wagon_R_step6{ 
    display: inline-block;
    text-align: center;
    margin-left: 414px;
    margin-top: 20;
    width: 160px;
    height: 185px;
    color: white;
    /* float: left; */
}

.Maruti_Swift_step6{ 
    display: inline-block;
    text-align: center;
    margin-left: 20px;
    margin-top: 20;
    width: 160px;
    height: 185px;
    color: white;
    /* float: left; */
}

.Others_step6{ 
    display: inline-block;
    text-align: center;
    margin-left: 20px;
    margin-top: 20;
    width: 160px;
    height: 185px;
    color: white;
    /* float: left; */
}


.firstIcon_step6{
    position: relative;
    width: 16px;
    display: block;
    text-align: center;
}

#vehicle_step6{
    background: #3dbfd9;
    height: 300px;
    margin-left:-8px;
    margin-right:-8px; 
    margin-top: 30px;
    /* display: flex; */
    /* flex-direction: row; */
}


h1{
    text-align: center;
    padding-top: 10px;
    color: white;
    padding-bottom:-2px;  
}

.buttonproperty_step6{
    color: #fff;
    background-color: #e74c3c;  
    height: 45px;
    width: 150px;
    border: 5px;
    border-radius: 6px;
    text-align: center;
    margin-left: 600px;
    font-weight: 520;
    font-size: 22px;
    cursor: pointer;
    font-family: "Lato",Helvetica,Arial,sans-serif;
    transition: all 0.5s;
    margin-top: 180px;
    outline: none;
}

.buttonproperty_step6:active,.buttonproperty_step6:hover{
    outline: 0;
    background-color: #ec7063;
    text-decoration: none;
}

.btn_step6{
    height: 185px;
    padding-top: 4px;
}