body{
    background: #3dbfd9;
    font-family: "Lato",Helvetica,Arial,sans-serif;
    color: white;
}

input[type=number],input[type=email],input[type=text]{
    display: flex;
    width: 30%;
    height: 50px;
    padding: 6px 12px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    outline: none;
}

.image_1_step8{
    /* background-image: url('user-24.png'); */
    width: 24px;
    height: 24px;
    display: inline-block!important;
    margin-top:11px; 
}

.image_2_step8{
    /* background-image: url('white-phone-24.png'); */
    width: 24px;
    height: 24px;
    display: inline-block!important;
    margin-top:11px; 
}


.image_step8{
    background-color: #34495e;
    border: 0 none;
    vertical-align : middle;
    border-radius: 4px 0 0 4px;
    /* display: table-cell; */
    padding: 0 12px;
    width: 20px;
    height: 50px;
    margin-left: 450px;
    /* background-image: url('rupee.png'); */
}

.text_step8{
    width: 100%;
    height: 50px;
    display: flex;
    margin-top: 100px;
}

.text_step8_1{
    width: 100%;
    height: 50px;
    display: flex;
    margin-top: 30px;
}

.text_step8_2{
    width: 100%;
    height: 50px;
    display: flex;
    margin-top: 30px;
}

.heading_step8{
    font-size: 50px;
    text-align: center;
    margin-top: 40px;
}

.buttonproperty_step8{
color: #fff;
background-color: #e74c3c;  
height: 45px;
width: 150px;
border: 5px;
border-radius: 6px;
text-align: center;
margin-left: 590px;
font-weight: 520;
font-size: 22px;
cursor: pointer;
font-family: "Lato",Helvetica,Arial,sans-serif;
transition: all 0.5s;
margin-top: 50px;
outline: none;
}

.buttonproperty_step8:active,.buttonproperty_step8:hover{
outline: 0;
background-color: #ec7063;
text-decoration: none;
}